html, body {
    margin: 0;
    height: 100%;
    font-family: "Comic Sans MS", serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: slategrey;
    border-bottom: 2px solid dimgray;
    text-align: center;
    padding: 10px;
    color: white;
}

footer {
    background-color: slategrey;
    border-top: 2px solid dimgray;
    padding: 10px;
    text-align: center;
    bottom: 0;
    height: 70px;
    color: white;
}

h3, pre {
    margin: 0;
}

div.flex-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
}

div.flex-container > div {
    margin: 10px;
    padding: 10px;
    flex: 1;
    border: 1px solid;
    overflow: scroll;
}

@media screen and (max-width: 600px)  {
    div.flex-container {
        flex-direction: column;
    }
}

nav {
    margin: 0;
    padding: 0;
    flex: 0 0 180px;
    width: 180px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}